# nvim
nvim/.cache/*
nvim/.tmp/*
nvim/rc/.local.rc.vim

# tmux
tmux/env.conf
tmux/.tpm

# vim
vim/bundle/*
!vim/bundle/neobundle.vim
vim/tmp/*
vim/.netrwhist
!vim/tmp/.gitkeep
vim/personal.vim

# zsh
zsh/.zplug
zsh/.zcompdump*
zsh/cmd_history

# other
xbuild/*
NuGet/NuGet.Config

# htop
htop/htoprc

# anyenv
anyenv

# mycli
mycli/.mycli-history
mycli/.mycli.log

# npm
configstore/update-notifier-npm.json
