# nvim
nvim/.cache/*
nvim/.tmp/*

# tmux
tmux/env.conf
tmux/.tpm

# vim
vim/bundle/*
!vim/bundle/neobundle.vim
vim/tmp/*
vim/.netrwhist
!vim/tmp/.gitkeep
vim/personal.vim

# zsh
zsh/.zplug
zsh/.zcompdump*
zsh/cmd_history

# other
xbuild/*
NuGet/NuGet.Config

# htop
htop/htoprc
